# Dependency Directories
node_modules

# Expo / React Native Caches
.expo
.expo-shared
.turbo

# Build Artifacts & Output
build/
dist/
coverage/
*.log

# TypeScript & JavaScript
/dist
/build
.tsbuildinfo

# Babel, Metro, and Watchman
.babel.config.js.tmp
metro-cache/
watchman

# IDE/Editor Files
.vscode/
.idea/
*.swp

# Testing & Reports
junit.xml
html-report/

# Local Environment
.env
.env.local

# Android specific
android/build/
android/.gradle/

# iOS specific
iOS/build/
iOS/*.xcworkspace
iOS/*.xcodeproj/xcuserdata/

# macOS specific
.DS_Store